body{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
    font-family: arial;
}


.background{
  background-color: pink;
  background-position: center;
  background-size: 100% 100%;
  height:1080px;
  background-repeat: repeat;
}
.background2{
  background-color: pink;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: repeat;
}
img{
 object-fit: cover;
}
a:link{
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
}
a:visited{
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
}
a:hover{
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
}
a:active{
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
}

.link{
  width: 25%;
  margin-top: 150px;
  background-color: #bd9bd0;
  height: 80px;
  float: center bottom;
  padding: 20px;
}
.link2{
  width: 25%;
  margin-top: 100px;
  background-color: #bd9bd0;
  height: 80px;
  float: center bottom;
  padding: 20px;
}
.link3{
  width: 25%;
  margin-top: 40px;
  background-color: #bd9bd0;
  height: 80px;
  float: center bottom;
  padding: 20px;
}
.link4{
  width: 25%;
  background-color: #bd9bd0;
  height: 80px;
  float: center bottom;
  padding: 20px;
}
.f1{
  position: relative;
}
.f2{
  position: relative;
}
.f3{
  position: relative;
}
.f4{
  position: relative;
}
.Header{
  margin: 0px;
  font-size: 60px;
  border: 40px;
  padding: 30px;
  width: 100%;
  background-color: #bd9bd0;
}
.bg1{
  background-color: #e5aed3;
  padding: 30px;
  width: 70%;
  border-radius: 20px;
    margin-top: 70px;
}
.b2{
  background-color: #e5aed3;
  padding: 20px;
  width: 90%;
  border-radius: 20px;
  margin-top: 70px;
}
.b3{
  background-color: #e5aed3;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  margin-top: 70px;
}
.b4{
  background-color: #e5aed3;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  margin-top: 70px;
}
.b5{
  background-color: #e5aed3;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  margin-top: 70px;
}
.p1{
  font-size: 25px;
}
.p2{
  font-size: 25px;
}
.p3{
  font-size: 25px;
}
.p4{
  font-size: 25px;
      margin-bottom: 50px;
}
.art{
  font-size: 40px;
}
.design{
  font-size: 40px;
}
.webhead{
  font-size: 40px;
}
.animate{
  font-size: 40px;
}
.film{
  font-size: 40px;
}
.website{
  height: 500px;
  width: 1000px;
    border-radius: 20px;
}
.DSum{
  height: 1192px;
  width: 842px;
  border-radius: 20px;
}
.vanny{
  height: 500px;
  width: 650px;
  border-radius: 20px;
  object-fit: cover;
  size: relative;
}
.persona{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
  size: relative;
}
.virussona{
  height: 500px;
  width: 500px;
  border-radius: 20px;
  object-fit: cover;
  size: relative;
}
.flex{
  display: flex;
  justify-content: center;
  text-align: center;
}
